<div class="features-section">
  <h2>{{ pimcore_input('featuresTitle', {'default': 'Explore our curated collection of high-quality products'}) }}</h2>
  <p>{{ pimcore_wysiwyg('featuresDescription', {'default': 'Whether you’re looking for ... we’ve got you covered.'}) }}</p>
</div>

